.headerContainer {
    background-color: #609dcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 6rem;
}

.headerTitle {
    color:#FFFF;
    font-size: 4rem;
}

.headerImage {
    width: 40%;
}