.menuContainer {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 2rem;
    list-style: none;
}

.menuLink {
    text-decoration: none;
    color: #609dcf;
    font-size: 1.5rem;
}

