* {
  margin: 0;
  box-sizing: border-box;
}

.headerContent {
  justify-content: center;
  padding-top: 1rem;
  padding: 2rem;
}


.headerSteps {
  color: #ffffff;
  font-size: 1rem;
  padding: 1.3rem;
  text-align: justify;
  align-items: center;
  background-color: #f9b884;
}


@media (min-width: 1024px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 2rem;
    padding-right: 5rem;
    
  }


  .cats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 2rem;
    padding: 3rem;
    padding-top: 0.5rem;
    width: 25rem;
    height: 30rem;    
  }
}


@media (min-width: 1600px) {
  .cardsContainer {
    padding: 5rem;
  }
}


@media (max-width: 767px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    padding-right: 0;
  }

  .cats {
    width: 100%;
    padding: 1rem;
  }
}


@media (max-width: 480px) {
  .headerSteps {
    font-size: 0.9rem;
  }

}

