/* Base styles for the form */
.form {
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formInput {
  width: 60%;
  padding: 0.6rem 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize: vertical;
}

.formButton {
  width: 60%;
  padding: 0.6rem 2rem;
  background-color: #4caf50;
  color: #f2f0eb;
  border: none;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #4ca;
}

/* Responsive styles for smaller screens like iPhone XR (414x896px) */
@media (max-width: 415px) {
  .formInput {
    width: 80%;
  }

  .formButton {
    width: 80%;
    font-size: 0.8rem;
  }

  .ajudar {
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
  }

  .formasAjuda {
    font-size: 0.8rem;
  }

  .notaParana {
    margin: 1rem;
  }

  .doeNota {
    font-size: 1.3vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .formInput {
    width: 70%;
  }

  .formButton {
    width: 70%;
    font-size: 0.9rem;
  }

  .ajudar {
    grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
  }

  .formasAjuda {
    font-size: 0.9rem;
  }

  .notaParana {
    margin: 1.5rem;
  }
}


@media (min-width: 1024px) and (max-width: 1439px) {
   .formInput {
    width: 70%;
  }

  .formButton {
    width: 70%;
    font-size: 0.9rem;
  }

  .ajudar {
    grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
  }

  .formasAjuda {
    font-size: 0.9rem;
  }

  .notaParana {
    margin: 1.5rem;
  }
}


@media (min-width: 1440px) {
  .formInput {
    width: 50%;
  }

  .formButton {
    width: 50%;
    font-size: 1.2rem;
  }

  .ajudar {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }

  .formasAjuda {
    font-size: 1.2rem;
  }

  .notaParana {
    margin: 2rem;
  }
}


@media (max-width: 415px) {
  .formInput {
    width: 80%;
  }

  .formButton {
    width: 80%;
    font-size: 0.8rem;
  }

  .ajudar {
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
  }

  .formasAjuda {
    font-size: 0.8rem;
  }

  .notaParana {
    margin: 1rem;
  }

  .doeNota {
    font-size: 1.3vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}