/* Common styles for all screen sizes */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.newsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.newsColumn {
  flex: 1;
  max-width: 30%;
  margin: 1rem;
}

a {
  margin: 0
}

.newsCard  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsCard img {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(117, 69, 6, 0.1);
}

.newsText {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 5%;
  padding: 1rem;
  text-align: justify;
}

@media (max-width: 414px) {
  .newsColumn {
    max-width: 100%;
  }

  .newsCard img {
    max-height: 30vh;
  }

  .newsText {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .newsCard img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(117, 69, 6, 0.1);
  }
  
}


@media (max-width: 767px) {

}


@media (min-width: 768px) and (max-width: 1023px) {
  .newsColumn {
    max-width: 50%;
  }

  .newsCard img {
    max-height: 35vh;
  }

  .newsText {
    font-size: 1rem;
    padding: 1rem;
  }

  .newsCard img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(117, 69, 6, 0.1);
  }
  
}


@media (min-width: 1024px) and (max-width: 1439px) {
  .newsCard img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(117, 69, 6, 0.1);
  }
  

}


@media (min-width: 1440px) {
  .newsCard img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(117, 69, 6, 0.1);
  }
  

}
